# Node.js (Frontend)
node_modules/
/blue_breathe/build
/blue_breathe/.env
/blue_breathe/npm-debug.log*
/blue_breathe/yarn-debug.log*
/blue_breathe/yarn-error.log*

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db